/* Importe les css */
@import url('bootstrap.css');

/* General stylesheet */
a {
	color : rgb(52, 102, 190);	
}
a:hover, a:active {
	color : rgb(54, 190, 163);	
}
a.brand img {
	border-radius:50%;
	border:5px solid #fff;
}
.profile, .skills, .book, .static {
	padding:30px 0;
}
.profile h2, .skills h2, .book h2, .static h2 {
	font-weight:normal;
	color: #444444;
}
/***** Profile *****/
.profile h1 {
	color:#444444;
	font-weight: normal;
}
.profile h3 {
	color:#c36c53;
	font-weight: normal;
}
.profile p {
	color:#444444;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
.profile .container .span5 {
	padding:40px 0;
}
a.button-static {
	display: inline-block;
 *display: inline;
	padding:20px 60px;
	background:#444444;
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.button-static:hover {
	text-decoration:none;
	background:#c36c53;
}
.social {
	text-align:center;
	padding-bottom:80px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style:none;
	display:inline-block;
	margin:10px;
}
ul.social-icons li:first-child {
	margin-left:0;
}
ul.social-icons li a {
	opacity:0.8;
}
ul.social-icons li a:hover {
	opacity:1;
}
/***** Skills *****/
.skills .span3 {
	width:235px;
	overflow: hidden;
}
.skills .span5 {
	text-align:left;
	padding:47px 0;
}
.skills .skill-1, .skills .skill-2, .skills .skill-3, .skills .skill-4, .skills .skill-5 {
	padding:25px;
	width:100px;
	height:100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
	border:8px solid #ebebe8;
	float:right;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.skills .skill-1 {
	background:#30a5dc;
}
.skills .skill-2 {
	background:#ee742b;
}
.skills .skill-3 {
	background:#a52d6a;
}
.skills .skill-4 {
	background:#f04949;
}
.skills .skill-5 {
	background:#39d084;
}
.skills .skill-1:hover, .skills .skill-2:hover, .skills .skill-3:hover, .skills .skill-4:hover, .skills .skill-5:hover {
	border:8px solid #ffffff;
}
.skills .skill-1 h3, .skills .skill-2 h3, .skills .skill-3 h3, .skills .skill-4 h3, .skills .skill-5 h3 {
	color:#fff;
	font-size: 3.4em;
	font-weight: normal;
	line-height: 80px;
}
.skills .skill-4 h3, .skills .skill-5 h3 {
	font-size: 2.2em;
}
.expand-bg {
	background: none repeat scroll 0 0 #fff;
	border-radius:16px;
	height: 16px;
	margin-bottom: 15px;
	position: relative;
	padding: 0 2px;
}
.expand {
	border-radius: 10px;
	height: 4px;
	margin: 2px 0;
	padding: 4px 0 4px 5px;
	position: absolute;
}
.skills .span5 h3 {
	font-size: 18.5px;
	line-height: 15px;
	font-weight:normal;
	text-transform:uppercase;
}
.skills .span5 h3 span {
	float:right;
}
/* --- color skill bar % --- */
.skill1 {
	width:90%;
	background:#30a5dc;
	-moz-animation:html5 2s ease-out;
	-webkit-animation:html5 2s ease-out;
}
.skill2 {
	width:80%;
	background:#ee742b;
	-moz-animation:css3 2s ease-out;
	-webkit-animation:css3 2s ease-out;
}
.skill3 {
	width:60%;
	background:#a52d6a;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
}
.skill4 {
	width:75%;
	background:#f04949;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
}
.skill5 {
	width:85%;
	background:#39d084;
	-moz-animation:photoshop 2s ease-out;
	-webkit-animation:photoshop 2s ease-out;
}

/**** book container *****/

ul.book-images li {
	list-style:none;
	display:inline-block;
	margin: 8px 10px 4px 0px ;
	background:
}
ul.book-images li:first-child {
	margin-left:0;
}
ul.book-images li div {
	background:url(../img/eye.png) 50% 50% no-repeat;
	background-color: #c36c53;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.book-images li img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul.book-images li img:hover {
	opacity:0.1;
}

/**** Pagination *****/

#pagination {
	margin-bottom: 50px;
	text-align: center;
}

#pagination span,
#pagination a {
	display: inline-block;
	margin: 0;
	padding: 10px;
}

#pagination a {
	background-color: #444444;
	color: #888888/*0088cc*/;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 8px 15px;
}

#pagination a:hover {
	background-color: #444444/*f5f5f5*/;
	color: #ffffff/*444444*/;
	text-decoration: none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 8px 15px;
}

#pagination span:first-letter,
#pagination a:first-letter {
	text-transform: uppercase;
}

/***** Static container *****/
.static h3 {
	margin:60px 0;
}
.static .btn-center {
	text-align:center;
}
.footer {
	background:#444444;
	position: fixed;
	width: 100%;
	bottom:0;
}
.footer p {
	margin:20px 0;
}
.footer p a {
	color:#fff;
	text-decoration:none;
}
.footer p a:hover {
	color:#c36c53;
}
